body{
align-items: center;
display: flex;
height: 100vh;
background-color:#d999b6;
justify-content: center;
font-family: Arial, sans-serif ;
}
.card{
background-color:  rgb(240, 221, 228);
text-align: center;
width:300px ;
padding:20px ;
border-radius: 20px;
 box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}
.card img{
border-radius: 50%;
height: 120px;
width: 120px;
border: 2px solid rgb(172, 86, 114);
padding: 2px;
}
.card h2{
  color: #21010f;
  margin: 15px 0 10px;
}
.card p{
  color: #1e030f;
   font-size: 14px;
  line-height: 1.5;
}
.card button{
    color:white;
    background-color: #8b2655;
    border: none;
     padding: 10px 20px;
  border-radius: 8px;
  margin-top: 15px;
  cursor: pointer;
   

}
.card button:hover{

    background-color:#b65180 ;
}